html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000;
    position: relative;
    overflow: hidden;
    cursor: none;
    /* ẩn con trỏ */
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: calc(5vw + 5vh);
    /* font-size: 100%; */
    line-height: normal;
    color: #fff;
    letter-spacing: 10px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    opacity: 0;
}

.cursor {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    pointer-events: none;
    opacity: 0;
}

.cursorFollow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    /* background: #fff; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    pointer-events: none;
    transition: 0.4s width, 0.4s height;
    mix-blend-mode: difference;
    opacity: 0;
}

.cursorFollow.active {
    width: 160px;
    height: 160px;
    background: #fff;
    transition: 0.4s width, 0.4s height;
}